   <div class="jumbotron">
        <p>שלום, אריה</p>
        <h1>בצע הזמנה חדשה</h1>
        <p>למילוי הזמנה חדשה, אנא לחץ על סוג ההזמנה המתאימה ! </p>
        <p>
          <a href="pages/dry" class="btn btn-primary btn-lg" role="button"> <i class="fa fa-fw fa-cutlery "></i>אוכל יבש</a>
          
          <a href="pages/yemen" class="btn btn-success btn-lg" role="button"><i class="fa fa-fw fa-bookmark "></i>מרק תימני</a>
       </p>

  </div>
       <div class="container-fluid">


            <!-- Icon Cards -->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card card-inverse card-primary o-hidden h-100">
                        <div class="card-block">
                            <div class="card-block-icon">
                                <i class="fa fa-fw fa-cutlery "></i>
                            </div>
                            <div class="mr-5">
                             26 הזמנות - אוכל יבש
                            </div>
                        </div>
                        <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left">הצג פרטים</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card card-inverse card-success o-hidden h-100">
                        <div class="card-block">
                            <div class="card-block-icon">
                                <i class="fa fa-fw fa-bookmark"></i>
                            </div>
                            <div class="mr-5">
                               12 הזמנות -מרק תימני
                            </div>

                        </div>
                        <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left">הצג פרטים</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card card-inverse card-warning o-hidden h-100">
                        <div class="card-block">
                            <div class="card-block-icon">
                                <i class="fa fa-fw fa-calendar"></i>
                            </div>
                            <div class="mr-5">
                             16 הזמנות לחודש
                            </div>
                        </div>
                        <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left">הצג פרטים</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card card-inverse card-danger o-hidden h-100">
                        <div class="card-block">
                            <div class="card-block-icon">
                                <i class="fa fa-fw fa-calendar-o"></i>
                            </div>
                            <div class="mr-5">
                                2 הזמנות להיום
                            </div>
                        </div>
                        <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left">הצג פרטים</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>



  <!-- Example Tables Card -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> הזמנות פעילות
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>הזמנה מס'</th>
                                    <th>תאריך</th>
                                    <th>לקוח</th>
                                    <th>עיר</th>
                                    <th>הובלה</th>
                                    <th>כמות</th>
                                    <th>סה"כ</th>
                                </tr>
                            </thead>
               
                            <tbody>

                                <tr *ngFor="let Order of Orders">
                                    <td>{{Order.OrderNo}}</td>
                                    <td>{{Order.DateOrder}}</td>
                                    <td>{{Order.CustomerName}}</td>
                                    <td>{{Order.City}}</td>
                                    <td>{{Order.Delivery}}</td>
                                    <td>{{Order.Quantity}}</td>
                                    <td>{{Order.Amount}}</td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">
                    מעודכן ל 21/04/2017
                </div>
            </div>

<!-- Table 
<div class="col-12">
  <p-dataTable [value]="Orders">
    <p-column field="OrderNo" header="מס' הזמנה'" [sortable]="true"></p-column>
    <p-column field="DateOrder" header="תאריך" [sortable]="true"></p-column>
    <p-column field="CustomerName" header="לקוח"></p-column>
    <p-column field="City" header="עיר"></p-column>
    <p-column field="Delivery" header="הובלה"></p-column>
    <p-column field="Amount" header="סכום"></p-column>
    <p-column field="Amount" Footer="CCC"></p-column>
  </p-dataTable>
</div>
<h3>כלים</h3>-->
<!-- Table 
<div class="col-12">
  <p-dataTable [value]="Tools">
    <p-column field="Id" header="מזהה כלי" [sortable]="true"></p-column>
    <p-column field="Name" header="שם כלי" [sortable]="true"></p-column>
    <p-column field="Quantity" header="כמות" Footer="CCC"></p-column>

  </p-dataTable>
</div>-->



  
        </div>
        <!-- /.container-fluid -->





























<!--

<div class="row">



  <div class="ui-g-12 ui-md-4">
        <div class="card overview">
            <div class="overview-content clearfix">
                <span class="overview-title">Sales</span>
                <span class="overview-badge">+%90</span>
                <span class="overview-detail">$22,650 / week</span>
            </div>
            <div class="overview-footer">
                <img src="assets/layout/images/dashboard/sales.svg" style="width: 100%">
            </div>
        </div>
    </div>



  <div class="col-6">
    <div class="panel panel-default">
   
      <div class="panel-heading">
        <h4>שלום אריה</h4>
      </div>
      <div class="panel-body">מחכים לך 7 הזמנות חדשות</div>


    </div>
  </div>
  <div class="col-6">
    <h4 class="text-center">צור הזמנה חדשה</h4>
    <div class="row">
      <div class="col-6 text-center">
        <button type="button" class="btn btn-default navbar-btn">מרק תימני</button>
      </div>
      <div class="col-6 text-center">
        <button type="button" class="btn btn-default navbar-btn">אוכל יבש</button>
      </div>
    </div>
  </div>

</div>
<br>








<p>
  dashboard wordddddddddddks!
  <a class="nav-link" [routerLink]="['/pages/warehouse']"><i class="fa fa-fw fa-cogs"></i> מחסן</a>
  <a class="nav-link" [routerLink]="['/pages/noThing']"><i class="fa fa-fw fa-cogs"></i> לא קיים</a>

</p>
<p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
<span *ngIf="!!selectedCity">{{selectedCity.name}}</span>

<p-multiSelect [options]="Extras" [(ngModel)]="selectedExtras"></p-multiSelect>
 -->