<p>
    dashboard wordddddddddddks!
    <a class="nav-link" [routerLink]="['/pages/warehouse']"><i class="fa fa-fw fa-cogs"></i> מחסן</a>
    <a class="nav-link" [routerLink]="['/pages/noThing']"><i class="fa fa-fw fa-cogs"></i> לא קיים</a>

</p>
<p-dropdown [options]="cities" formControlName="selectedCity"></p-dropdown>
<p-dataTable [value]="cars">
    <p-column field="vin" header="Vin" [sortable]="true"></p-column>
    <p-column field="year" header="Year" [sortable]="true"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
</p-dataTable>