<div class="container">



  <div class="jumbotron">
  <div class="row">
        
         <div class="col-12 text-center"> <h1> פרטי הזמנה חדשה - מרק תימני </h1>    </div>

 <!--   <div class="col-12 text-center"> <h1> פרטי הזמנה חדשה - אוכל יבש</h1>    </div>
    <div class="col-6 text-center">  <h5>תאריך: 24/8/17 יום שני</h5>    </div>
     <div class="col-6 text-center"> <h5>תאריך: 24/8/17 יום שני</h5> <h5>שעה : 16:00</h5>   </div>
    
     Customer Details 
    
       <div class="col-12">   <h4>כללי</h4>    </div>
       <div class="col-6">  
          <p>מס' מנות:<b> 120</b></p>
          <p>סוג האירוע:<b> ברית</b></p>
         
      </div> -->

       <div class="col-12">   <h3>מידע כללי</h3>    </div>
      
 <div class="col-4">  
          <p>תאריך:<b> 24/8/17</b></p>
             <p>שעה:<b> 16:00</b></p>
      </div>
      <div class="col-4">  
         <p> מס' מנות:<b>120</b></p>
           <p>סוג האירוע:<b> ברית</b></p>
      </div>
      <div class="col-4">  
          <p>מחיר למנה:<b> 25 ש"ח</b></p>
      </div>
      
<br>
         
    <!-- Customer Details -->

       <div class="col-12">   <h3>פרטי לקוח</h3>    </div>
       <div class="col-6">  
          <p>שם:<b> דניאל עמית</b></p>
          <p>עיר:<b> ראש העין</b></p>
      </div>
      <div class="col-6">
          <p>טלפון:<b> 054-4587533</b></p>
          <p>כתובת:<b> יהושוע בן-נון 54 </b></p>
      </div>



       <!-- Food Details -->
    
       <div class="col-12">   <h3>פירוט מנות</h3>    </div>
         <div class="col-3">
        <label for="MainCours">סוגי עיקריות</label>
        <div class="list-group">
          <p class="list-group-item"><b>עופות</b></p>
          <p class="list-group-item"><b>תפו"א</b></p>
          <p class="list-group-item"><b>חילבה</b></p>
        </div>
      </div>

      <div class="col-3">
        <label for="MainCours">ירקות</label>
        <div class="list-group">
          <p class="list-group-item"><b>עגבניה</b></p>
          <p class="list-group-item"><b>מלפפונים</b></p>
          <p class="list-group-item"><b>בצל</b></p>
          <p class="list-group-item"><b>גמבה</b></p>
          <p class="list-group-item"><b>לימונים</b></p>
          <p class="list-group-item"><b>גרגיר מהדרין</b></p>
        </div>
      </div>

    
       <div class="col-3">
        <label for="MainCours">כלים וציוד</label>
        <div class="list-group">
          <p class="list-group-item"><b>כפפות</b></p>
          <p class="list-group-item"><b>כלים חד פעמי </b> - קומפלט</p>
        </div>
      </div>
      

        <div class="col-3">
       <div class="col-12">     <label for="MainCours"><b>בדיקה</b> </label>  </div>
          
        <div class="col-12"> <input type="checkbox" class=" right">  <label > עופות  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > תפו"א  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > חריפים  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > ביסבס  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > חילבה  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > ירקות  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > גרגיר  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > פיתות  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > לחוח  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > מגשים  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > כלי הגשה  </label></div> 
        <div class="col-12"> <input type="checkbox" class=" right">  <label > חד פעמי  </label></div> 
      </div>
 
 
   <!-- Tool Details -->

       <div class="col-12">   <h3>כלים וציוד</h3>    </div>
       <div class="col-4">  
          <p>טרמופורטים:<b> 2</b></p>
          <p>גסטרונומים:<b> 3</b></p>
          <p>קומקומים:<b> 5</b></p>
      </div>
       <div class="col-4">  
          <p>קלחת:<b> 6</b></p>
          <p>כף חילבה:<b> 5</b></p>
      </div>
       <div class="col-4">  
          <p>מגשים:<b> 3</b></p>
          <p>מפיות:<b> 200</b></p>
      </div>
     

       <!-- Total Amuont Details -->
    
       <div class="col-12">   <h3>סה"כ</h3>    </div>
       <div class="col-6">  
          <p>מחיר:<b> 2100 ש"ח</b></p>
          <p>הובלה:<b> 200 ש"ח</b></p>
          <h4>סה"כ: 2300 ש"ח</h4>
      </div>
     




       
       
       
  </div>
        
        <div class=" text-center ">
          
          <a href="pages/dry_reservation" class="btn btn-success btn-lg col-12" role="button"><i class="fa fa-fw fa-print "></i>שלח להדפסה</a>
       </div>
       

  </div>
          <a href="pages/dry_reservation" class="btn btn-danger btn-lg" role="button"><i class="fa fa-fw fa-times "></i>בטל הזמנה</a>
  
</div>
  