<div class="container">
   <div class="col-12 text-center"> <h1>הזמנה חדשה - מרק תימני</h1>    </div>

  <form class="form-horizontal">
    <div class="row">
      <div class="col-6">
        <label for="CustomerName">שם המזמין</label>
        <input type="text" class="form-control" id="CustomerName">
      </div>
      <div class="col-6">
        <label for="PhoneNo">טלפון</label>
        <input type="number" class="form-control" id="PhoneNo">
      </div>
      <div class="col-4">
        <label for="City">עיר</label>
        <input type="text" class="form-control" id="City">
      </div>
      <div class="col-8">
        <label for="Address">כתובת</label>
        <input type="text" class="form-control" id="Address">
      </div>

      <div class="col-4">
        <label for="DateOrder">תאריך</label>
        <input type="number" class="form-control" id="DateOrder">
      </div>
      <div class="col-4">
        <label for="Hour">שעה</label>
        <input type="time" class="form-control" id="Hour">
      </div>
      <div class="col-4">
        <label for="PriceOfUnit">מחיר למנה</label>
        <input type="number" class="form-control" id="PriceOfUnit" placeholder="{{NewOrderView.PriceOfUnit}}">
      </div>

      <div class="col-6">
        <label for="Quantity">מס' מנות מרק עוף</label>
        <input type="number" class="form-control" id="Quantity">
      </div>
      <div class="col-6">
        <label for="Type">סוג האירוע</label>
        <input type="text" class="form-control" id="Type">
      </div>

      <div class="col-4">
        <label for="MainCours">סוגי עיקריות</label>
        <div class="list-group">
          <p class="list-group-item"><b>עופות</b></p>
          <p class="list-group-item"><b>תפו"א</b></p>
          <p class="list-group-item"><b>חילבה</b></p>
        </div>
      </div>

      <div class="col-4">
        <label for="MainCours">ירקות</label>
        <div class="list-group">
          <p class="list-group-item"><b>עגבניה</b></p>
          <p class="list-group-item"><b>מלפפונים</b></p>
          <p class="list-group-item"><b>בצל</b></p>
          <p class="list-group-item"><b>גמבה</b></p>
          <p class="list-group-item"><b>לימונים</b></p>
          <p class="list-group-item"><b>גרגיר מהדרין</b></p>
        </div>
      </div>

      <div class="col-4">
        <label for="MainCours">כלים וציוד</label>
        <div class="list-group">
          <p class="list-group-item"><b>כפפות</b></p>
          <p class="list-group-item"><b>כלים חד פעמי </b> - קומפלט</p>
        </div>
      </div>

      <div class="col-4">
        <label for="MainCourse">תוספות</label>
        <div class="list-group">
          <p class="list-group-item">סחוג ירוק <input type="text" class="form-control left" id="Type"> </p>
          <p class="list-group-item">סחוג אדום <input type="text" class="form-control left" id="Type"> </p>
          <p class="list-group-item">ביסבס<input type="text" class="form-control left" id="Type"> </p>

        </div>
      </div>

      <div class="col-4">
        <label for="MainCourse">מאפים</label>
        <div class="list-group">
          <p class="list-group-item">גלוב<input type="text" class="form-control left" id="Type"> </p>
          <p class="list-group-item">לחוח<input type="text" class="form-control left" id="Type"> </p>
        </div>
      </div>

      <div class="col-12">
        <h3>כלים וציוד</h3>
        <p>סמן ליד כל פריט את הכמות הנדרשת לאירוע</p>
      </div>

      <div class="col-4">
        <label for="Tramporatim">טרמופורטים</label>
        <input type="number" class="form-control" id="Tramporatim">
      </div>
      <div class="col-4">
        <label for="SpoonsOfDivision">כפות חלוקה</label>
        <input type="number" class="form-control" id="SpoonsOfDivision">
      </div>
      <div class="col-4">
        <label for="Gastronom">גסטרונומים</label>
        <input type="number" class="form-control" id="Gastronom">
      </div>
      <div class="col-4">
        <label for="Forceps">מלקחיים</label>
        <input type="number" class="form-control" id="Forceps">
      </div>
      <div class="col-4">
        <label for="Pilot">פיילוט</label>
        <input type="number" class="form-control" id="Pilot">
      </div>
      <div class="col-4">
        <label for="Trays">מגשים</label>
        <input type="number" class="form-control" id="Trays">
      </div>


      <hr>
      

    




    </div>
  </form>
     <div class="jumbotron">
  <div class="row">
        
 

       <!-- Total Amuont Details -->
    
       <div class="col-12">   <h3>סה"כ</h3>    </div>
       <div class="col-6">  
       <div class="col-6">  
          <p>מחיר:<b> 2400 ש"ח</b></p>
          <p>הובלה:<b> 150 ש"ח</b></p>
          <h4>סה"כ: 2550 ש"ח</h4>
      </div>
      </div>

       
  </div>
        

  </div>
         <a href="pages/yemen_reservation" class=" col-12 btn btn-success btn-lg" role="button"><i class="fa fa-fw fa-cutlery "></i>  אשר הזמנה על סך: 2300 ש"ח  <i class="fa fa-fw fa-check "></i></a>
  
  </div>