<div class="container">



  <div class="jumbotron">
  <div class="row">
        
         <div class="col-12 text-center"> <h1> פרטי הזמנה חדשה - אוכל יבש</h1>    </div>

 <!--   <div class="col-12 text-center"> <h1> פרטי הזמנה חדשה - אוכל יבש</h1>    </div>
    <div class="col-6 text-center">  <h5>תאריך: 24/8/17 יום שני</h5>    </div>
     <div class="col-6 text-center"> <h5>תאריך: 24/8/17 יום שני</h5> <h5>שעה : 16:00</h5>   </div>
    
     Customer Details 
    
       <div class="col-12">   <h4>כללי</h4>    </div>
       <div class="col-6">  
          <p>מס' מנות:<b> 120</b></p>
          <p>סוג האירוע:<b> ברית</b></p>
         
      </div> -->

       <div class="col-12">   <h3>מידע כללי</h3>    </div>
      
 <div class="col-4">  
          <p>תאריך:<b> 24/8/17</b></p>
             <p>שעה:<b> 16:00</b></p>
      </div>
      <div class="col-4">  
         <p> מס' מנות:<b>120</b></p>
           <p>סוג האירוע:<b> ברית</b></p>
      </div>
      <div class="col-4">  
          <p>מחיר למנה:<b> 25 ש"ח</b></p>
      </div>
      
<br>
         
    <!-- Customer Details -->

       <div class="col-12">   <h3>פרטי לקוח</h3>    </div>
       <div class="col-6">  
          <p>שם:<b> דניאל עמית</b></p>
          <p>עיר:<b> ראש העין</b></p>
      </div>
      <div class="col-6">
          <p>טלפון:<b> 054-4587533</b></p>
          <p>כתובת:<b> יהושוע בן-נון 54 </b></p>
      </div>



       <!-- Food Details -->
    
       <div class="col-12">   <h3>פירוט מנות</h3>    </div>
        <div class="col-4">
          <label for="MainCours">סוגי עיקריות</label>
          <div class="list-group">
            <p class="list-group-item"><b>עוף בגריל</b></p>
            <p class="list-group-item"><b>סטייק פרגית</b></p>
            <p class="list-group-item"><b>כנפיים ברוטב צ'ילי מתוק וטריאקי</b></p>
          </div>
        </div>
        <div class="col-4">
          <label for="MainCours">תוספות חמות</label>
          <div class="list-group">
            <p class="list-group-item"><b>אורז לבן</b></p>
            <p class="list-group-item"><b>ירקות מאודים</b></p>
            <p class="list-group-item"><b>ספגטי ברוטב עגבניות</b></p>
          </div>
        </div>
        <div class="col-4">
          <label for="MainCours te">סלטים</label>
          <div class="list-group">
            <p class="list-group-item"><b>טחינה</b></p>
            <p class="list-group-item"><b>חצילים במיונז</b></p>
            <p class="list-group-item"><b>גזר פיקנטי</b></p>
            <p class="list-group-item"><b>סלט ירקות</b></p>
            <p class="list-group-item"><b>כרוב חמוץ בלימון</b></p>
          </div>
        </div>
 
 
   <!-- Tool Details -->

       <div class="col-12">   <h3>כלים וציוד</h3>    </div>
       <div class="col-4">  
          <p>טרמופורטים:<b> 2</b></p>
          <p>מלקחיים:<b> 5</b></p>
      </div>
       <div class="col-4">  
          <p>כפות חלוקה:<b> 6</b></p>
          <p>פילוט:<b> 5</b></p>
      </div>
       <div class="col-4">  
          <p>גסטרונומים:<b> 3</b></p>
          <p>מגשים:<b> 4</b></p>
      </div>
     

       <!-- Total Amuont Details -->
    
       <div class="col-12">   <h3>סה"כ</h3>    </div>
       <div class="col-6">  
          <p>מחיר:<b> 2100 ש"ח</b></p>
          <p>הובלה:<b> 200 ש"ח</b></p>
          <h4>סה"כ: 2300 ש"ח</h4>
      </div>
     




       
       
       
  </div>
        
        <div class=" text-center ">
          
          <a href="pages/dry_reservation" class="btn btn-success btn-lg col-12" role="button"><i class="fa fa-fw fa-print "></i>שלח להדפסה</a>
       </div>
       

  </div>
          <a href="pages/dry_reservation" class="btn btn-danger btn-lg" role="button"><i class="fa fa-fw fa-times "></i>בטל הזמנה</a>
  
</div>
  